form{
  width: 100%;
}

button svg{
  width: 20px;
  height: 20px;
  fill: #fff;
}
button.btn{
  margin-left: 5px;
}
article{
  margin: 65px 0;
 
}
h1{
  text-align: center;
}
a svg{
  width: 10px;
  height: 10px;
  fill: #fff;
}